body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

header {
  margin-top: 0;
  opacity: 0.8;
  background-image: url(./imagenes/IMAGEN_HERO_new.jpg);
  background-size: cover;
  height: 75vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #000;
  color: white;
}

header .container {
  width: 100%;
  padding: 20px;
}

header .col-md-4 {
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header .col-md-3 {
  background-color: white;
  color: black;
  border-radius: 1rem;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header hr {
  color: yellow;
  width: 50%;
  border: yellow 2px solid;
}

header li {
  background-color: transparent;
  color: white;
  font-weight: bold;
}

header .nav-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

header span {
  left: 2px;
  position: relative;
}

header .col-md-3 {
  background-color: linear-gradient(to bottom, transparent, blue);
  left: 3rem;
}

section hr {
  color: yellow;
  width: 50%;
  border: yellow 2px solid;
}

section i {
  color: yellow;
}

#about h6 {
  background-color: #02557D;
}

#about div {
  color: white;
  font-weight: bold;
  background-color: #02557D;
}

section .col-md-3 {
  background-color: white;
  border-radius: 3%;

}

#about img {
  width: 20%;
  border-radius: 1rem;
}

#about {
  background-color: #02557D;
}

#about hr {
  color: yellow;
  width: 50%;
  border: yellow 2px solid;
}

section {
  padding: 1rem;

}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 2rem;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
}

.card-text {
  font-size: 14px;
}

.btn {
  border: none;
  background-color: #02557D;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #02557D;
}


aside {
  margin-top: 0;
  background-image: url(./imagenes/IMAGEN_HERO.jpg);
  height: 50vh;
  color: black;
}

.img-fluid {
  left: 50%;
  width: 50px;
  height: 50px;
}

nav {
  background-color: #02557D;
  list-style: none;
  color: white;
  font-size: xx-small;
}

nav a {
  display: block;
  font-size: 1px;
}

.col-md-3 {
  float: right;
}

#courses {
  margin-top: 0;
  opacity: 0.8;
  background-image: url(./imagenes/bacbenef.jpg);
  background-size: cover;
  height: 65vh;
  background-position: center center;
  background-repeat: no-repeat;
  color: black;

}

#courses .col-md-3 {
  padding: 10rem;
  color: white;
  align-items: center;
}

#courses div {
  background-color: transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  align-items: center
}

#courses img {
  width: 50%;
  height: 50%;

}

#aside::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: rgba(0, 0, 255, 0.5);
}

aside {
  background-color: #02557D;
  opacity: initial;
  padding: 10px;
}

footer {
  background-color: #02557D;
  color: yellow;
  padding: 10px;
}
footer h5{
 color: rgb(255, 196, 0);
}
footer a{
  color: white;
  text-decoration: none;
 }

#careers .card-title {
  text-align: center;
}

header .form-control {
  background-color: transparent;
}

#careers .btn {
  display: block;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 3fr 3fr 5fr;
  grid-row-gap: 10px;
}

.columna-1 {
  width: 90%;
}

.columna-2 {
  width: 90%;
}

.columna-3 {
  width: 50%;
  justify-content: center;
  align-items: center;

}

#team {
  background-color: rgb(213, 210, 210);
}

#team div {
  background-color: transparent;
}

#team .card {
  align-items: center;
}

/* #team .card-img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
} */

#team .card-img-overlay img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}

#team .card-body {
  z-index: 1;

}

#video {
  background-color: white;
  margin-top: 0;
  color: black;


}
#video img{
  background-image: url('./imagenes/constru.jpg');
  background-size: cover;
  height: 50vh;
    margin-top: 0;
  color: black;

}
#video .col-md-3 {
 width: 40%;
 height: 40vh;
  margin-top: 10%;
  color: black;

}
#video .card-img-top {
  position: absolute;
}

#video .card-title {
  color: white;
  position: relative;
  text-transform: uppercase;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#video p {
  color: white;
  position: relative;
  text-transform: uppercase;
  left: 50%;
  transform: translate(-50%, -50%);
}
#video .card-img-overlay div {
  width: 200px;
  height: 150px;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}
#video iframe{
 left: 60%;
   position: relative;
  width: 40%;
  
}